.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.app-name {
    margin-left: 10px;
}
